.active {
  color: #af865ee0;
}

* {
  box-sizing: border-box;
}

span {
  color: #af865ee0;
}

.div1 {
  width: 100%;
  margin-top: 10px;
  padding: 2px 10px 10px 10px;
  border: 1px solid #cccccca8;
  box-sizing: border-box;
  background-color: #92979c42;
}

.header {
  background-color: #3f4952;
  color: #ffffff;
  border-bottom: 2px solid #af865ee0;
}
.header::after {
  clear: both;
  display: table;
  content: "";
}

.row1 {
  background-color: #3f4952;
  color: #ffffff;
}
.row1::after {
  clear: both;
  display: table;
  content: "";
}

.footer {
  background-color: #af865ee0;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 5px;
}

.row {
  padding: 5px;
  background-color: #92979c00;
  margin: 35px 10px 10px 35px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

.col-1 {
  width: 100%;
  float: left;
  padding: 5px;
}

.divimage {
  width: 100%;
  height: 400px;
  background-image: url("../images/showcase.jpg");
  background-size: cover;
}

.divimage2 {
  width: 100%;
  height: 400px;
  background-image: url("../images/showcase.jpg");
  background-size: cover;
}

.col-2 {
  width: 100%;
  float: left;
}

.col-3 {
  width: 100%;
  float: left;
  padding: 15px 5px 5px 5px;
}

.col-4 {
  width: 100%;
  float: left;
  padding: 15px 5px 5px 5px;
}

.col-5 {
  width: 100%;
  float: left;
  text-align: center;
}

.col-6 {
  width: 100%;
  float: left;
}

.col-7 {
  width: 100%;
  float: right;
  text-align: center;
}

.col-8 {
  width: 100%;
  float: right;
}

ul {
  list-style-type: none;
  margin: 0;
}

li {
  display: inline-block;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
}

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  width: 100%;
  float: left;
}

input[type=submit] {
  background-color: #af865ee0;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.background {
  background-color: #3f4952;
  color: white;
  padding: 12px 20px;
  margin: 10px;
}

@media only screen and (min-width: 600px) {
  .col-2 {
    width: 30%;
  }

  .col-1 {
    width: 70%;
  }

  .col-3 {
    width: 20%;
  }

  .col-4 {
    width: 10%;
  }

  .col-5 {
    width: 33.33%;
  }

  .col-6 {
    width: 60%;
  }

  .col-7 {
    width: 30%;
  }

  .col-8 {
    width: 30%;
  }
}

/*# sourceMappingURL=main.css.map */
