$media: screen;
$feature: min-width;
$value: 600px;
$left:left;
$rigth:right;
$padding:5px;
$width:100%;
$color_marron:#af865ee0;
.active {
  color: #af865ee0;
}
$color_white: #ffffff;

* {
    box-sizing: border-box;
  }
  span{
    color:$color_marron;
  }
  .div1 {
    width: $width;
    margin-top: 10px;
  padding: 2px 10px 10px 10px;
    border: 1px solid #cccccca8;
    box-sizing: border-box;
    background-color: #92979c42;
  }
  .header {
    background-color:#3f4952;
    color: $color_white;
    border-bottom: 2px solid #af865ee0;
  
   
  &::after{
    clear: both;
    display: table;content: "";
  }

  }
  
  .row1 {
    background-color:#3f4952;
    color: $color_white;
   
  
   
  &::after{
    clear: both;
    display: table;content: "";
  }

  }
  
  .footer {
    background-color: #af865ee0;
    color: $color_white;
    text-align: center;
    font-size: 12px;
    padding: $padding;
  }
  .row {
    padding: $padding;
    background-color:#92979c00;
   margin: 35px 10px 10px 35px;
    &::after{
        content: "";
        clear: both;
        display: table;
    }
  }

 .col-1{
    width: $width; 
    float:$left;
    padding:$padding;

  }
  .divimage {
    width: $width;
    height: 400px;
    background-image: url('../images/showcase.jpg');
    background-size: cover;
  
  }
  .divimage2 {
    width: $width;
    height: 400px;
    background-image: url('../images/showcase.jpg');
    background-size: cover;
  
  }
  .col-2{
    width:$width; 
    float:$left;
   

  }
  .col-3{
    width:$width; 
    float:$left;
    padding:15px 5px 5px 5px;

  }
  .col-4{
    width:$width; 
    float:$left;
    padding:15px 5px 5px 5px ;

  }
  .col-5{
    width:$width; 
    float:$left;
    text-align: center;
  }
  .col-6{
    width:$width; 
    float:$left;
   

  }
  .col-7{
    width:$width; 
  
    float:$rigth;
    text-align: center;

  }

  .col-8{
    width:$width; 
    float:$rigth;

  }

  
  ul {
    list-style-type: none;
    margin: 0;
 
    }

  li {
    display: inline-block;
  }
  
  li  {
      a {
        display: block;
        color: white;
        text-align: center;
        padding: 30px 16px;
        text-decoration: none;
  }

}
input[type=text] , textarea {
    width: $width;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  label{
    width: $width;
    float: left;
  }
  input[type=submit] {
    background-color: #af865ee0;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: $width;
  
  }
  .background{
    background-color:#3f4952;
    color: white;
    padding: 12px 20px;
    margin: 10px;
  }
  @media only #{$media} and ($feature: $value) {
    .col-2{width: 30%;}
    .col-1{width: 70%;}
    .col-3{
        width:20%; 
      
    
      }
      .col-4{
        width:10%; 
     }
     .col-5{
     width:33.33%;}
     
  .col-6{
    width:60%; 


  }
  
  .col-7{
    width:30%; 
  

  }
  .col-8{
    width:30%; 
  

  }
  }